* {
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    padding: 0 80px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-items-start {
    align-items: flex-start;
}

.flex-dir-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-16 {
    gap: 16px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}